.about__container {
    row-gap: 2.5rem;
}
.about__profession{
    text-align: justify;
    padding: 0 0.4rem;
}

.about__description {
    text-align: justify;
   padding: 0 0.4rem;
}

.about__title {
    padding: 0 0.4rem;
    margin-bottom: var(--mb-2);
}

/* Contenedor de la foto */
.about__img-wrapper {
    justify-self: center;
}

.about__img-placeholder {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Foto redonda */
    background-color: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--first-color);
    overflow: hidden;
    font-size: 5rem;
    color: var(--first-color);
}

/* Estilos para los botones */
.about__buttons {
    display: flex;
    width: 110%;
    align-items: center;
    justify-content: justify;
    column-gap: 0.18rem;
    margin-bottom: 1rem;
    padding: 0 0.4rem;
    margin-top: 9px;
    
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #1a1a1a;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    font-weight: 600;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
    transform: translateY(-3px);
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.button--ghost:hover {
    background-color: var(--first-color);
    color: #1a1a1a;
}

/* Estilo para la caja de la API */
.api__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
    border-left: 4px solid var(--first-color);
    font-size: var(--small-font-size);
    margin-top: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

@media screen and (min-width: 768px) {
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
    .about__data {
        text-align: left;
    }
    
    .about__description, .about__buttons {
        justify-content: flex-start;
        text-align: left;
    }
}