.contact__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-bottom: 3rem;
}

.contact__card {
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: .3s;
}

.contact__card:hover {
    background-color: #1f2a25; /* Un verde muy oscuro al hacer hover */
}

.contact__card-icon {
    font-size: 2.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.contact__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.contact__card-data {
    display: block;
    margin-bottom: 1.5rem;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .bx-right-arrow-alt {
    transform: translateX(.25rem);
    transition: .3s;
}

/* Footer styles simple */
.footer {
    background-color: var(--container-color);
    padding: 2rem 0;
    text-align: center;
}

.footer__title {
    color: var(--first-color);
    margin-bottom: 1rem;
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__copy {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}